*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.row{
  margin-bottom: 100px;
}

.card{
  position: relative;
  display: inline-block;
  width: 30%;
  background-size: contain;
}

.card.one{
  background-image: url('../img/1b.webp');
}

.card.two{
  background-image: url('../img/2b.webp');
  margin-left: 1%;
  margin-right: 1%;
}
.card.three{
  background-image: url('../img/3b.webp');
}

.card.four{
  background-image: url('../img/4b.webp');
}

.card.five{
  background-image: url('../img/5b.webp');
  margin-left: 1%;
  margin-right: 1%;
}

.card.six{
  background-image: url('../img/6b.webp');
}

.card img{
  width: 100%;
  cursor: pointer;
}

.card img:hover{
  cursor: pointer;
  visibility: hidden;
}

.heart{
  position: absolute;
  width: 10%;
  background-color: white;
  text-align: center;
  right: 0;
  top:2%;
}

.sconto{
  position: absolute;
  background-color: #EB0030;
  color: white;
  padding: 3px;
  left: 0;
  bottom: 3%;
  font-size: 10px;
}

.sostenibilita{
  position: absolute;
  background-color: #008457;
  color: white;
  padding: 3px;
  font-size: 10px;
  left: 10%;
  bottom: 3%;
}

.card.six .sostenibilita{
  position: absolute;
  background-color: #008457;
  color: white;
  padding: 3px;
  font-size: 10px;
  left: 0;
  bottom: 3%;
}

.description{
  position: absolute;
  bottom: -50px;
  font-size: 12px;
}

.description .red{
  color: red;
}

.description .line{
  text-decoration: line-through;
}