*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.row{
  margin-bottom: 10px;
}

.card{
  display: inline-block;
  width: 30%;
  background-size: contain;
}

.card-img{
  position: relative;
}

.card-img img{
  width: 100%;
  cursor: pointer;
}

.img2{
  display: none;
}

.card-img:hover .img2{
  display: inline-block;
} 

.card-img:hover .img1{
  display: none;
}


.heart{
  position: absolute;
  width: 10%;
  background-color: white;
  text-align: center;
  right: 0;
  top:2%;
}

.sconto{
  position: absolute;
  background-color: #EB0030;
  color: white;
  padding: 3px;
  left: 0;
  bottom: 3%;
  font-size: 10px;
}

.sostenibilita{
  position: absolute;
  background-color: #008457;
  color: white;
  padding: 3px;
  font-size: 10px;
  left: 10%;
  bottom: 3%;
}

.card.six .sostenibilita{
  position: absolute;
  background-color: #008457;
  color: white;
  padding: 3px;
  font-size: 10px;
  left: 0;
  bottom: 3%;
}


.description .red{
  color: red;
}

.description .line{
  text-decoration: line-through;
}